ml-dtypes==0.3.2
opt-einsum==3.3.0
scipy==1.12.0
docarray
openai==1.33.0
langchain==0.2.3
langchain-community==0.2.4
langchain-experimental==0.0.60
sentence-transformers==2.5.1
streamlit==1.32.2
pypdf==4.1.0
pydantic==1.10.9
boto3
tiktoken
faiss-cpu